* {
    outline: none;
}
form{
    position: absolute;
    height: 500px;
    width: 500px;
    border-style: solid;
    right: 50%;
    top: 50%;
    transform: translate( 50% , -50%);
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 0 0.5em black; 
    background-color: white;
    border-radius: 30px;
    opacity: 0.85;
    text-align: center;
}
.image{
    position: absolute;
    width: 120px;
    bottom: 0px;
    left: 380px;
}
.text{
    position: relative;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
h1{
    padding-top: 7%;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    font-size: 20px;
}
.copy{
    font-size: 15px;
    position: absolute;
    color: black;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
button{
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 50px;
    background-color: rgb(53, 50, 50);
    text-align: center;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
}
.text_meio{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;

}
.voltar{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.txt_cancelado{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: center;
    width: 80%;
    height: 30px;
    font-size: 17px;
    color: white;
    border-style: solid;
    border-color: green;
    background-color: green;
}
.txt_erro{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: center;
    width: 50%;
    height: 30px;
    font-size: 17px;
    color: white;
    border-style: solid;
    border-color: red;
    background-color: red;
}
.email {
    margin-bottom: 2px;
    height: 15px;
}
.form-control{
    width: 50px;
}
.btn btn-outline-dark{
    font-size: 15px;
}
@media screen and (max-width: 425px){
    * {
        outline: none;
    }
    body{
        width: 100%;
        height: 100%;
    }
    form{
        margin-top: 20px;
        position: absolute;
        height: 500px;
        width: 380px;
        border-style: solid;
        right: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        transform: translate( 50% , -50%);
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        box-shadow: 0 0 0.5em black; 
        background-color: white;
        border-radius: 30px;
        opacity: 0.85;
        text-align: center;
    }
    .image{
        position: absolute;
        width: 120px;
        bottom: 0px;
        left: 270px;
    }
    .text{
        position: relative;
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    }
    h1{
        padding-top: 7%;
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
        font-size: 20px;
    }
    .copy{
        font-size: 15px;
        position: absolute;
        color: black;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }
    button{
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        text-shadow: 50px;
        background-color: rgb(53, 50, 50);
        text-align: center;
        width: 120px;
        height: 35px;
        border-radius: 5px;
        font-size: 20px;
    }
    .text_meio{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50% , -50%);
        width: 100%;
    
    }
    .voltar{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
    .txt_cancelado{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        border-radius: 8px;
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 5px;
        padding-bottom: 0px;
        text-align: center;
        width: 50%;
        height: 30px;
        font-size: 17px;
        color: white;
        border-style: solid;
        border-color: green;
        background-color: green;
    }
    .txt_erro{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        border-radius: 8px;
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 5px;
        padding-bottom: 0px;
        text-align: center;
        width: 50%;
        height: 30px;
        font-size: 17px;
        color: white;
        border-style: solid;
        border-color: red;
        background-color: red;
    }
    .email {
        margin-bottom: 2px;
        height: 15px;
    }
    .form-control{
        width: 50px;
    }
    .btn btn-outline-dark{
        font-size: 15px;
    }
    .txt_cancelado{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        border-radius: 8px;
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 5px;
        padding-bottom: 0px;
        text-align: center;
        width: 70%;
        height: 30px;
        font-size: 17px;
        color: white;
        border-style: solid;
        border-color: green;
        background-color: green;
    }
    .txt_erro{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        border-radius: 8px;
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 5px;
        padding-bottom: 0px;
        text-align: center;
        width: 70%;
        height: 30px;
        font-size: 17px;
        color: white;
        border-style: solid;
        border-color: red;
        background-color: red;
    }
    p.copy{
        width: 100%;
    }
    .copy{
        font-size: 15px;
        position: absolute;
        color: black;
        bottom: 0;
        left: 40%;
        transform: translate(-50%);
    }    
}
@media screen and (max-width: 375px){
    * {
        outline: none;
    }
    body{
        width: 100%;
        height: 100%;
    }
    form{
        margin-top: 20px;
        position: absolute;
        height: 500px;
        width: 350px;
        border-style: solid;
        right: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        transform: translate( 50% , -50%);
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        box-shadow: 0 0 0.5em black; 
        background-color: white;
        border-radius: 30px;
        opacity: 0.85;
        text-align: center;
    }
    .image{
        position: absolute;
        width: 120px;
        bottom: 0px;
        left: 240px;
    }
    p.copy{
        width: 100%;
    }
    .copy{
        font-size: 15px;
        position: absolute;
        color: black;
        bottom: 0;
        left: 40%;
        transform: translate(-50%);
    }
    .txt_cancelado{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        border-radius: 8px;
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 5px;
        padding-bottom: 0px;
        text-align: center;
        width: 80%;
        height: 30px;
        font-size: 17px;
        color: white;
        border-style: solid;
        border-color: green;
        background-color: green;
    }
    .txt_erro{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        border-radius: 8px;
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 5px;
        padding-bottom: 0px;
        text-align: center;
        width: 80%;
        height: 30px;
        font-size: 17px;
        color: white;
        border-style: solid;
        border-color: red;
        background-color: red;
    }
}
@media screen and (max-width: 320px){
    * {
        outline: none;
    }
    body{
        width: 100%;
        height: 100%;
    }
    form{
        margin-top: 20px;
        position: absolute;
        height: 500px;
        width: 300px;
        border-style: solid;
        right: 48%;
        top: 50%;
        transform: translate(-50% , -50%);
        transform: translate( 50% , -50%);
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        box-shadow: 0 0 0.5em black; 
        background-color: white;
        border-radius: 30px;
        opacity: 0.85;
        text-align: center;
    }
    .image{
        position: absolute;
        width: 120px;
        bottom: 15px;
        left: 200px;
    }
    p.copy{
        width: 100%;
    }
    .copy{
        font-size: 15px;
        position: absolute;
        color: black;
        bottom: 0;
        left: 40%;
        transform: translate(-50%);
    }
    .txt_cancelado{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        border-radius: 8px;
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 5px;
        padding-bottom: 0px;
        text-align: center;
        width: 80%;
        height: 30px;
        font-size: 17px;
        color: white;
        border-style: solid;
        border-color: green;
        background-color: green;
    }
    .txt_erro{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        border-radius: 8px;
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 5px;
        padding-bottom: 0px;
        text-align: center;
        width: 80%;
        height: 30px;
        font-size: 17px;
        color: white;
        border-style: solid;
        border-color: red;
        background-color: red;
    }
}